body {
    font-family: "Poppins", sans-serif;
}

ul {
    padding-left: 24px;
}
.div{
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.div1>img{
    width: 50%;
}
.div2{
    font-size: 2vw;
}
button{
    background-color: black;
    color: white;
    padding: 20px 25px;
}
footer{
    margin-top: 60vh;
}
h5{
    text-align: center;
    color: gray;
}